@keyframes rotate {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 87.5em) {
    html {
      font-size: 54%; } }

body {
  background-color: #121212; }

body {
  font-family: "Baloo 2", cursive;
  color: #000;
  font-weight: 300;
  line-height: 4.5rem; }

.btn, .btn:link, .btn:visited {
  text-decoration: none;
  border: none;
  cursor: pointer; }

.sub-menu1 {
  position: absolute;
  background-color: #F6A564;
  width: 0;
  height: 9rem;
  top: 0;
  transform-origin: center;
  opacity: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: center; }
  .sub-menu1 * {
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
    line-height: 0; }

.side-menu {
  width: 0%;
  height: 100vh;
  background: #1e88e5;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }
  .side-menu__justify {
    display: grid; }
    .side-menu__justify *:hover {
      cursor: pointer;
      color: #F6A564; }
    .side-menu__justify *:active {
      color: #E57B1E; }
  .side-menu * {
    font-size: 3.3rem;
    margin-bottom: 3rem;
    text-transform: uppercase;
    color: #fff; }

.footer {
  background: #fff;
  height: 6rem;
  margin-top: 3rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  justify-items: center; }
  @media only screen and (max-width: 37.5em) {
    .footer {
      grid-template-columns: repeat(3, 1fr);
      height: 12rem; } }
  .footer * {
    font-size: 2.1rem;
    color: #121212;
    cursor: pointer;
    transition: 0.3s all cubic-bezier(0.075, 0.82, 0.165, 1); }
    @media only screen and (max-width: 37.5em) {
      .footer * {
        display: flex;
        flex-direction: column; } }
    @media only screen and (max-width: 37.5em) {
      .footer *:first-child {
        display: none; } }
    .footer *:hover {
      color: #64b5f6; }
    .footer *:active {
      color: #1e88e5; }

.header {
  background: rgba(255, 255, 255, 0.05);
  height: max-content;
  padding: 1.5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr); }
  .header__title {
    color: #fff;
    font-size: 3.3rem;
    font-family: "Press Start 2P", cursive;
    text-transform: uppercase;
    letter-spacing: .18rem;
    font-weight: 600; }
  .header__nav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
    color: #fff;
    font-size: 2.1rem; }
    @media only screen and (max-width: 37.5em) {
      .header__nav {
        grid-template-columns: 1fr;
        justify-items: end; } }
    .header__nav * {
      transition: 0.3s all cubic-bezier(0.075, 0.82, 0.165, 1);
      text-transform: uppercase; }
    .header__nav *:hover {
      cursor: pointer;
      color: #F6A564; }
    .header__nav *:active {
      color: #E57B1E; }
    @media only screen and (max-width: 37.5em) {
      .header__nav *:not(:last-child) {
        display: none;
        visibility: hidden; } }
    @media only screen and (min-width: 37.5em) {
      .header__nav *:last-child {
        display: none; } }
    .header__nav--ion {
      font-size: 5.4rem; }

.main {
  height: calc((100vh * 2) - (7.5rem + 12rem));
  position: relative;
  display: grid;
  grid-template-rows: calc(100vh - 7.5rem) calc(100vh - 12rem);
  align-items: center;
  justify-items: center;
  overflow: hidden; }
  @media only screen and (max-width: 68.75em) {
    .main {
      height: calc((100vh * 4) - (7.9rem + 6.1rem + 6rem));
      grid-template-rows: calc(200vh - 7.9rem) calc(200vh - 6.1rem - 6rem); } }
  .main__sec1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-items: center;
    width: 100%;
    height: 100%;
    padding: 0 6rem;
    border-radius: 0.9rem; }
    @media only screen and (max-width: 87.5em) {
      .main__sec1 {
        width: 100%; } }
    @media only screen and (max-width: 68.75em) {
      .main__sec1 {
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: 1fr; } }
    @media only screen and (max-width: 37.5em) {
      .main__sec1 {
        grid-template-rows: 1fr 100vh;
        padding: 0; } }
    .main__sec1--logo {
      width: 36rem;
      height: 36rem; }
      .main__sec1--logo img {
        width: 100%; }
    .main__sec1--info {
      color: #fff;
      font-size: 2.1rem;
      background-color: rgba(255, 255, 255, 0.05);
      height: 90%;
      border-radius: 0.9rem;
      display: grid;
      align-items: center;
      justify-items: center;
      padding: 3rem; }
      @media only screen and (max-width: 68.75em) {
        .main__sec1--info {
          align-self: baseline;
          padding: 0 3rem; } }
      @media only screen and (max-width: 37.5em) {
        .main__sec1--info {
          padding: 0 3rem;
          text-justify: kashida;
          text-align: justify; } }
  .main__sec2 {
    background-color: rgba(255, 255, 255, 0.05);
    display: grid;
    grid-template-columns: 30% 1fr;
    align-items: center;
    justify-items: center;
    width: 100%;
    height: 100%; }
    @media only screen and (max-width: 68.75em) {
      .main__sec2 {
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: 1fr; } }
    @media only screen and (max-width: 37.5em) {
      .main__sec2 {
        grid-template-rows: 1fr; } }
    .main__sec2--cont {
      background-color: #121212;
      padding: 6rem;
      border-radius: 0.9rem;
      display: grid;
      align-items: center;
      justify-items: center;
      width: 90%;
      height: 90%; }
      @media only screen and (max-width: 37.5em) {
        .main__sec2--cont {
          padding: 0 3rem;
          width: 100%;
          text-justify: kashida;
          text-align: justify; } }
      .main__sec2--cont * {
        color: #fff;
        font-size: 2.1rem; }
        @media only screen and (max-width: 68.75em) {
          .main__sec2--cont * {
            padding: 3rem; } }
        @media only screen and (max-width: 37.5em) {
          .main__sec2--cont * {
            padding: 0;
            hyphens: auto; } }

.copy {
  position: absolute;
  color: #fff;
  height: 3rem;
  width: 100%;
  font-size: 1.5rem;
  padding-right: 3rem;
  font-family: "Press Start 2P", cursive;
  display: flex;
  justify-content: flex-end;
  align-items: center; }

.anime-cont {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center; }
  @media only screen and (max-width: 68.75em) {
    .anime-cont {
      grid-row: 2 / 2;
      justify-content: center; } }

.bg-anime {
  width: 60vh;
  position: absolute;
  animation: rotate 90s infinite linear;
  left: -30vh; }
  @media only screen and (max-width: 37.5em) {
    .bg-anime {
      display: none; } }
