.header {
    background: $color-secondary-dark;
    height: max-content;
    padding: 1.5rem;

    display: grid;
    grid-template-columns: repeat(2, 1fr);

    &__title {
        color: $color-white;
        font-size: $font-size-large;
    }

    &__nav {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
        justify-items: center;

        color: $color-white;
        font-size: $font-size-medium;

        @include respond(phone) {
            grid-template-columns: 1fr;
            justify-items: end;
        }

        & *:hover {
            cursor: pointer;
            color: $color-secondary-light;
        }

        & *:active {
            color: $color-secondary;
            transform: scale(1.02);
        }

        & *:not(:last-child) {
            @include respond(phone) {
                display: none;
                visibility: hidden;
            }
        }

        & *:last-child {
            @include respond(non-phone) {
                display: none;
            }
        }

        &--ion {
            font-size: $font-size-large;
        }
    }
}