.form {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 3rem;
    font-size: $font-size-medium;

    & label {
    }

    & input {
    }

    & button {

    }

    & textarea {
        padding: 1rem;
    }

    & #description {
        grid-column: 1 / span 2;
    }
}