.side-menu, .side-menu2 {
    width: 0%;
    height: 100vh;
    background: $color-primary;
    position: absolute;
    z-index: 1;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    &__justify {
        display: grid;
    }

    & * {
        font-size: $font-size-large;
        margin-bottom: 3rem;
        text-transform: uppercase;
        color: $color-white;
    }
}

.side-menu {
    &__justify {
        & *:hover {
            cursor: pointer;
            color: $color-secondary-light;
        }
    
        & *:active {
            color: $color-secondary;
        }
    }
}

.side-menu2 {
    z-index: 9;
    background-color: $color-secondary;

    &__justify {
        & *:hover {
            cursor: pointer;
            color: $color-primary-light;
        }
    
        & *:active {
            color: $color-primary;
        }
    }
}