.main {
    height: calc((100vh * 2) - (7.9rem + 6.1rem + 6rem));

    display: grid;
    grid-template-rows: calc(100vh - 7.9rem) calc(100vh - 6.1rem - 6rem);
    align-items: center;
    justify-items: center;

    @include respond(tab-port) {
        height: calc((100vh * 4) - (7.9rem + 6.1rem + 6rem));
        grid-template-rows: calc(200vh - 7.9rem) calc(200vh - 6.1rem - 6rem);
    }
    
    &__sec1 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        justify-items: center;
        width: 90%;
        height: 90%;

        background-color: $color-secondary-dark;
        padding: 6rem;
        border-radius: $br;

        @include respond(tab-land) {
            width: 100%;
        }

        @include respond(tab-port) {
            grid-template-rows: repeat(2, 1fr);
            grid-template-columns: 1fr;
        }

        &--logo {
            width: 36rem;
            height: 36rem;
            background-color: $color-primary;
            border-radius: $br;
        }

        &--info {
            color: $color-white;
            font-size: $font-size-medium;

            @include respond(tab-port) {
                align-self: baseline;
                padding: 3rem;
            }
        }
    }

    &__sec2 {
        background-color: $color-secondary-dark;

        display: grid;
        align-items: center;
        justify-items: center;
        width: 100%;
        height: 100%;


        &--cont {
            background-color: $color-primary-dark;
            padding: 6rem;
            border-radius: $br;

            display: grid;
            align-items: center;
            justify-items: center;
            width: 90%;
            height: 90%;

            @include respond(tab-land) {
                width: 100%;
            }

            & * {
                color: $color-white;
                font-size: $font-size-medium;

                @include respond(tab-port) {
                    padding: 3rem;
                }
            }
        }
    }
}