.main {
    height: calc((100vh * 2) - (7.9rem + 12rem));

    display: grid;
    grid-template-rows: calc(100vh - 7.9rem) calc(100vh - 12rem);
    align-items: center;
    justify-items: center;
    overflow: hidden;

    @include respond(tab-port) {
        height: calc((100vh * 4) - (7.9rem + 6.1rem + 6rem));
        grid-template-rows: calc(200vh - 7.9rem) calc(200vh - 6.1rem - 6rem);
    }
    
    &__sec1 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        justify-items: center;
        width: 100%;
        height: 100%;

        padding: 0 6rem;
        border-radius: $br;

        @include respond(tab-land) {
            width: 100%;
        }

        @include respond(tab-port) {
            grid-template-rows: repeat(2, 1fr);
            grid-template-columns: 1fr;
        }

        @include respond(phone) {
            grid-template-rows: 1fr 100vh;
            padding: 0;
        }

        &--logo {
            width: 36rem;
            height: 36rem;

            & img {
              width: 100%;  
            }
        }

        &--info {
            color: $color-white;
            font-size: $font-size-medium;
            background-color: $color-secondary-dark;
            height: 90%;
            border-radius: $br;

            display: grid;
            align-items: center;
            justify-items: center;
            padding: 3rem;

            @include respond(tab-port) {
                align-self: baseline;
                padding: 0 3rem;
            }

            @include respond(phone) {
                padding: 0 3rem;
                text-justify: kashida;
                text-align: justify;
            }
        }
    }

    &__sec2 {
        background-color: $color-secondary-dark;

        display: grid;
        grid-template-columns: 30% 1fr;
        align-items: center;
        justify-items: center;
        width: 100%;
        height: 100%;

        @include respond(tab-port) {
            grid-template-rows: repeat(2, 1fr);
            grid-template-columns: 1fr;
        }

        @include respond(phone) {
            grid-template-rows: 1fr;
        }

        &--cont {
            background-color: $color-primary-dark;
            padding: 6rem;
            border-radius: $br;

            display: grid;
            align-items: center;
            justify-items: center;
            width: 90%;
            height: 90%;

            @include respond(phone) {
                padding: 0 3rem;;
                width: 100%;
                text-justify: kashida;
                text-align: justify;
            }

            & * {
                color: $color-white;
                font-size: $font-size-medium;

                @include respond(tab-port) {
                    padding: 3rem;
                }

                @include respond(phone) {
                    padding: 0;
                    hyphens: auto;
                }
            }
        }
    }
}

////////////////// Absolute Props //////////////////

.copy {
    position: absolute;
    color: $color-white;
    height: 3rem;
    width: 100%;
    font-size: $font-size-small;
    padding-right: 3rem;
    font-family: $font-family-secondary;

    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.anime-cont {
    position: relative;
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;

    @include respond(tab-port) {
        grid-row: 2 / 2;
        justify-content: center;
    }
}

.bg-anime {
    width: 60vh;
    position: absolute;
    animation: $rotate;
    left: -30vh;
    

    @include respond(phone) {
        display: none;
    }

    @include respond(tab-port) {
        
    }
}